* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(38, 38, 184);
}

.container {
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0px 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffff;

}

.container header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.container header::before {
    content: "";
    position: absolute;
    border-radius: 8px;
    left: 0px;
    bottom: -2px;
    height: 3px;
    width: 27px;
    background-color: #4070f4;

}

.container form {
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
}

/* .personal {
    margin-top: 8px;
} */


.container form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px, 0px;
    color: #333;
}

.container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field {
    display: flex;
    width: calc(100%/3 - 15px);
    flex-direction: column;
    margin: 4px;

}

.input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    height: 42px;
    margin: 8px;

}

.input-field input:is(:focus, :valid) {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333;
}

.nextBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 8px;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
    border-radius: 7px;
}

.backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 8px;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
    border-radius: 7px;
}

.nextBtn:hover {
    background-color: green;
}

.backBtn:hover {
    background-color: rgb(128, 0, 0);
}

.submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 8px;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
    border-radius: 7px;
}

.submitBtn:hover {
    background-color: rgb(113, 128, 0);
}



select {
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.453);
    border-radius: 7px;
}


select option {
    border: 1px;
    padding: 12px !important;

}